$primary-color: #0044cc;
$font-family: 'Arial, sans-serif';

// Mixin para media queries
@mixin mobile {
    @media screen and (max-width: 768px) {
        @content;
    }
}

body {
    font-family: $font-family;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: $primary-color;
    color: white;
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile{
        height: 10em;
    }

    .logo {
        width: 5%;
        height: auto;

        @include mobile{
            width: 20%;
            padding-bottom: 80px;
        }
    }

    nav {
        display: flex;
        align-items: center;
        justify-content:flex-end;
        width: 100%;


        ul {
            list-style: none;
            display: flex;
            gap: 1rem;
            margin: 0;
            padding: 0; 

            li {
                a {
                    color: white;
                    text-decoration: none;
                    font-size: 16px;
                }
            }
        }

        .search-bar {
            position: relative;

            @include mobile {
                margin-top: 6rem; 
                width: 100%;
                z-index: 998;
            }

            input {
                padding: 0.5rem;
                border-radius: 5px;
                padding-left: 20px;
                margin-left: 1.2em;
                border: none;

                @include mobile{
                    padding: 1.8rem;
                    display: flex;
                    flex-direction: column; 
                    margin-left: -45%; 
                    width: 130%;
                    
                }
            }

            .icon--search {
                position: absolute;
                top: 50%; 
                right: 1%; 
                transform: translateY(-50%); 
                width: 10%;
                height: auto; 
            }
            @include mobile{
                right: -15%;
            }
        }
    }

    // Estilos para móviles
    @include mobile {
        .menu {
            display: none;
            flex-direction: column;
            width: 40%;
            position: absolute;
            top: 10%;
            right: 0;
            background-color: $primary-color;
            z-index: 999;

            li {
                text-align: center;
                padding: 1rem 0;

                a {
                    display: block;
                    width: 100%;
                }
            }
        }


        .menu.active {
            display: flex;
        }

        .hamburger--menu {
            display: block;
            padding: 3% 6% 15% 3%;
            border-radius: 30%;
            cursor: pointer;
            

            .bar {
                width: 30px;
                height: 5px;
                background-color: #ffffff;
                margin: 5px 0;
            }
        }
    }
}
